.button-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}


.image,.image-container {
    height: 84px;
    width: 84px;
    border-radius: 50%;
}

.image-container{
   
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    gap:14px
}

.info-container{
    
    display: flex;
    flex-direction: column;
    gap:10px;
}
